.lpa-cardview-card-img-container {
  position: relative;
  width: 100%;
}

.lpa-cardview-card-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.lpa-cardview-card-img-container:hover {
  cursor: pointer;
  opacity: 0.75;
}

.lpa-cardview-card-img-hover {
  position: absolute;

  width: 100%;

  bottom:40%;
  left:0;
}

.lpa-cardview-card-img-hover-text {
  margin: 1% 30% 1% 30%;
  padding: 1%;

  font-size: 125%;

  border: 1px solid #111111;
  border-radius: 3px;

  color: #f6f6f6;
  background-color: #333333;
}
